{% if player.suspicion_pc > -1 %}
  {% if player.suspicion_pc > 66 %}
    A stalwart of the community, {{player.name}} will be particularly missed because they were right about the bad guys {{player.suspicion_pc}}% of the time.
  {% elif player.suspicion_pc > 33 %}
    Though not the most observant contributor {{player.name}} knew something about the bad guys, picking them out {{player.suspicion_pc}}% of the time.
  {% elif player.suspicion_pc > 0 %}
    {{player.name}} had little to offer the community. They only found bad guys with a {{player.suspicion_pc}}% success rate.
  {% else %}
    No one will miss {{player.name}} because they never correctly suspected a single bad guy in the night. This lead
    some to suspect that they may have been one.
  {% endif %}
{% endif %}
