<ul>
  <li>Daytime votes to lynch are successful if either:</li>
  <ul>
    <li>a majority of the living people vote for the same player, or</li>
    <li>all living good guys vote for the same player</li>
  </ul>
  <li>Assassinations are chosen at random from the night's assassination targets</li>
  <ul>
    <li><b>Except</b> for a game-winning assassination, which requires consensus between the bad guys</li>
  </ul>
  <li>Asassination attempts are prevented if the doctor chooses the victim on the same night</li>
  <li>Good guys win once there are no bad guys left alive</li>
  <li>Bad guys win once they are the majority</li>
</ul>
