{% extends "layout.html" %}
{% load static %}
{% block content %}


{% if not game.date_started %}
  <h2>Game setup</h2>
{% else %}
  {% if mafia_win is None %}
    <h2><span style="opacity: 0.3">Round {{round|add:'1'}}</span>  {{round|divisibleby:'2'|yesno:"Daytime discussions,Nightime creeping"}}</h2>
  {% else %}
    <h2>Performance review</h2>
  {% endif %}

  <input id="update_opener" type="checkbox" class="d-none" {{my_action|yesno:',checked'}}>
  <label class="update_panel" for="update_opener">
  {% if round == 0 %}
    <h2>Introduction</h2>
    <p>The cracks were showing. The social fabric frayed. People did not know who to trust</p>
    <p>
      After weeks of tension, today trouble errupts. You hear a loud argument in the street - you
      investigate. There's a mob forming outside and with each joining person the clamouring rises.
    </p>
    <p>
      We want answers. Some want blood. All want to see a change.
    </p>
    <p>
      It starts today.
    </p>
    <br><br>
    <span class="btn btn-primary float-right">Choose the player you'd like to lynch, or vote for nobody to be killed</a>
  {% elif mafia_win is not None %}
    <h2>In conclusion</h2>
    <p>
    {% if mafia_win %}
      With {{deaths.0}}'s last breath they gasped "you'll never divide us" - little
      did they know it was already too late.
    {% else %}
      With {{deaths.0}}'s demise the dark cloud lifted from the people. The rot had been stopped and
      the survivors lived in peace and harmony. For now...
    {% endif %}
    </p>

    <br><br>
    <span class="btn btn-primary float-right">Review the game summary</a>

  {% else %}
    <h2>Morning update</h2>
    {% if round|divisibleby:'2' %}  {####################################### WAKEY WAKEY IT'S MORNING #}
      {% for dead in deaths %}
      {% if my_player.id == dead.id %}
      <p>
        You died a painful death!
        <i>
          You may not communicate with other players until the end of the game.
          You're allowed to make ghostly noises but only at random times.
          Each night you will get the chance to haunt the dreams of those who wronged you
          and the community that couldn't keep you safe.
        </i>
      </p>
      {% endif %}
      <p>
        {{death_report|linebreaks}}
      </p>
      {% empty %}
      <p>
        Everyone survived.
      </p>
      {% endfor %}

      {% if suspect %}
      <p class="secret_note">
        Psst... {{suspect}} is {% if suspect.character_id == MAFIA_ID %}in the mafia{% else %}one of the good guys{% endif %} - ❤ your favourite snitch x
      </p>
      {% endif %}

      <br><br>
      <span class="btn btn-primary float-right">
        {% if my_player.died_in_round <= round %}
          Haunt the living souls that put you in the ground <i>(does nothing!)</i>
        {% else %}
          Choose the player you'd like to lynch, or vote for nobody to be killed
        {% endif %}
      </a>
    {% else %}                  {####################################### SLEEPY SLEEPY IT'S EVENING #}
    <h2>Evening update</h2>
      {% if my_player.id == dead.id %}
      {# todo - de-dupe this with same for night time killing #}
      <p>
        You were found guilty and excuted to death!
        <i>
          You cannot speak to other players until the end of the game.
          You may make ghostly noises at purely random times.
          Each night you will get the chance to haunt the dreams of those who wronged you
          and the community that couldn't keep you safe.
        </i>
      </p>
      {% endif %}
      <p>
        {% regroup votes by done_to as votes_for %}
        {% for target, votes in votes_for %}
        {% for vote in votes %}
          {% if forloop.last and not forloop.first %}and{% endif %}
          {{vote.done_by}}{% if forloop.revcounter > 2 %},{% endif %}
        {% endfor %} voted for {{target|default_if_none:'no lynching'}}<br>
        {% endfor %}
      </p>
      {% for dead in deaths %}
      <p>
        The people have spoken and decided to put {{dead}} to death by hanging.
      </p>
      {% empty %}
      <p>
        We thought better of our lynching instincts and everyone made it to bed safely.
      </p>
      {% endfor %}

      <br><br>
      <span class="btn btn-primary float-right">Without conferring, choose who you {% include 'matthews/_action_name.html' with player=my_player %}</a>
    {% endif %}

  {% endif %}
  </label>

{% endif %}



<form class="vote-form {% if mafia_win is not None %}game_over{% endif %}" action="{% url 'matthews:target' %}" method="POST">
{% csrf_token %}
  {% for player in players %}
    <input type="radio" name="target" id="player_{{player.id}}" value="{{player.id}}" {%if my_action or mafia_win is not None or not game.date_started%}disabled {%if my_action.done_to == player %}checked {%endif%}{%endif%}>
    <label class="avatar {% if my_player.character_id == MAFIA_ID and player.character_id == MAFIA_ID %}mark_bad{% endif%}
                  {{player.died_in_round|yesno:'mark_dead,mark_dead,'}}
                  "
           for="player_{{player.id}}">
      <h2>
        {{player.name}}
        {% if debug and my_player.id != player.id %}
        <a class="play_as" href="{% url 'matthews:game' %}?play_as_id={{player.id}}" title="{{player.character.name}}">@</a>
        {% endif %}
      </h2>
      <div class="portrait"></div>
      <p class="info">
      {% if my_player.id == player.id %}
      <span>You, {{my_player.character|default_if_none:'welcome'}}</span>
      {% elif my_player.character_id == MAFIA_ID and player.character_id == MAFIA_ID %}
      <span>{{player.character}}</span>
      {% else %}
      <span>&nbsp;</span>
      {% endif %}
      <br>
      {% if my_player.id == player.id and my_action %}
      <i>chose {% if my_action.done_to %}{{my_action.done_to.name}}{% else %}Nobody {% endif %}</i>
      {% elif player.has_acted %}
      <i>has acted</i>
      {% else %}
      <i>&nbsp;</i>
      {% endif %}
      </p>

      {% if not my_action %}
      <input type="submit" value="{% include 'matthews/_action_name.html' with player=my_player %}" class="btn btn-primary">
      {% endif %}
    </label>
    <div class="player_results">
    {% if mafia_win is not None %}
      <h4>
        {{player.character}},
        {% if player.died_in_round %}
          {{player.died_in_round|divisibleby:'2'|yesno:"lynched, murdered"}} in round {{player.died_in_round}}
        {% else %}
          survived
        {% endif %}
      </h4>
      <p>
        Killed {{player.killed_bad|add:player.lynched_bad}} bad guy{{player.killed_bad|add:player.lynched_bad|pluralize}} and
          {{player.killed_good|add:player.lynched_good}} good guy{{player.killed_good|add:player.lynched_good|pluralize}}<br>
        {% if player.character_id == 1 %}
          Effective assisination: {{player.successful_kill_pc|floatformat:0}}%<br>
          {{player.killed_doctor|yesno:"Killed,Failed to kill"}} doctor
          {% if player.killed_doctor != player.killed_detective %}but{% else %}and{% endif %}
          {{player.killed_detective|yesno:"killed,failed to kill"}} detective<br>
        {% elif player.character_id == 2 %}
          Suspicions were accurate {{player.suspected_bad_pc|floatformat:0}}% of the time<br>
        {% elif player.character_id == 3 %}
          Saved {{player.lives_saved}} live{{player.lives_saved|pluralize}}<br>
        {% elif player.character_id == 4 %}
          Mafia discovered: {{player.mafia_found}}<br>
        {% endif %}
        {% if player.character_id != MAFIA_ID %}
          {% if player.mafia_target %}
          Was attacked {{player.mafia_target}} time{{player.mafia_target|pluralize}}
          {% else %}
          Was never targeted by the mafia
          {% endif %}
        {% endif %}
        {% if player.character_id == MAFIA_ID and player.mafia_target %}
          Was attacked by fellow mafia members {{player.mafia_target}} time{{player.mafia_target|pluralize}}
        {% endif %}
      </p>
    {% endif %}
    </div>
  {% endfor %}

  {% if game.date_started %}
    <input type="radio" name="target" id="player_0" value="0" {%if my_action or mafia_win is not None or not game.date_started %}disabled {%if my_action and my_action.done_to is None %}checked {%endif%}{%endif%}>
    <label class="avatar" for="player_0">
      {% if not my_action %}
      {% endif %}
      <h2>Nobody</h2>
      <div class="portrait"></div>
      {% if not my_action %}
      <input type="submit" value="{% include 'matthews/_action_name.html' with player=my_player %}" class="btn btn-primary">
      {% endif %}
    </label>
    {% if mafia_win is not None %}
      <div class="player_results">
        <h4>The choice to do nothing, survived!</h4>
        <p>
          Killed: no bad guys, no good guys - super nice dude<br>
          Lynched 22 times and did nothing wrong<br>
          Saved by the doctor, who is an idiot<br>
        </p>
      </div>
    {% endif %}
  {% endif %}
<br>
{% if my_action %}
  {% include 'matthews/_waiting_ajax.html' %}
{% endif %}
</form>


{% if not game.date_started %}
  {% if my_player.id == players.0.id  %}
    <h2>Invite more players</h2>
    <form action="{% url 'matthews:invite' game.id %}" method="POST">
    {% csrf_token %}
      <textarea name="name_and_email" class="w-100 h-5" rows=4 placeholder="add like: Steve, stevie@gmail.com  (separated by new line)"></textarea>
      <p>(we don't store the email address, we send a single invite email)</p>
      <input type="submit" value="Invite to game" class="btn btn-primary">
      <a class="btn btn-primary float-right" href="{% url 'matthews:start' %}">Start game</a>
    </form>
  {% else %}
    <h2>Waiting for all invited players to join</h2>
    {{players.0.name}} is in charge of starting game, bug them if you think we should just crack on with it
    {% include 'matthews/_waiting_ajax.html' %}
  {% endif %}
{% else %}
  {% if my_player.id == players.0.id  %}
  <a class="btn btn-danger float-right" href="{% url 'matthews:restart'%}"
     onclick="return confirm('Are you sure? This will return all players to the setup stage and delete their characters and moves from this game.');"
     >Restart whole game</a>
  {% endif %}

  {% if debug %}
  <p class="mt-5">
    <a class="btn btn-danger float-right" href="{% url 'matthews:cast-all' %}">Cast all remaining votes</a>
  </p>
  {% endif %}
{% endif %}

{% if my_player.id == players.0.id  %}
<div class="secret-link input-group mt-5">
  <div class="input-group-prepend">
    <div class="input-group-text">Your secret link to this game</div>
  </div>
  <input class="link_box form-control" value="{{invite_url}}" onclick="this.select()">
</div>
{% endif %}

<style>
.update_panel {
  z-index: 3;
  position: absolute;
  width: 19em;
  height: 2.5em;
  border-radius: 0.2em;
  top: -1em;
  right: 0.1em;
  overflow: hidden;
  background-color: #fec;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  transform: rotate(3deg);
  transition: 0.1s;
  padding-left: 2em;
  cursor: pointer;
}
[type=checkbox]:checked + .update_panel{
  display: block;
  top: 1em;
  right: 1em;
  width: 85%;
  padding: 2em;
  margin: 5%;
  height: auto;
  min-height: 20em;
  transform: rotate(-1deg);
}
.update_panel > h2 { margin-bottom: 0.2em;}
.secret_note {
  font-family: cursive;
}

.mark_dead { filter: grayscale(1); opacity: 0.5;}
.win_text{
  font-size: 6em;
  color: red;
}
.play_as {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.avatar:hover .play_as { display: block; }

.vote-form {text-align:center;}

[type=radio] {display:none;}
.avatar {
  display:inline-block;
  height: 172px;
  margin: 1em 1em 4em;
  position: relative;
  cursor: pointer;
  vertical-align: top;
  transition: 0.1s;
  background-color: #f2e9e4;
}
.avatar > h2{
  overflow: hidden;
  padding: 0.1em;
  margin-bottom: 0em;
}

[type=radio]:disabled + .avatar { cursor: default; }
[type=radio]:checked + .avatar
{
  transform: scale(1.1);
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  background-color: #007bff;
}
[type=radio]:checked + .avatar h2 { color: white; }

.portrait {
  width: 115px;
  height: 123px;
  background: url('{% static 'matthews/images/avatar_test.jpg' %}') top left no-repeat #f2e9e4;
  background-size: 350px 360px;
  margin: 0em auto 0.5em;

}
.avatar:nth-child(3) .portrait { background-position: top left; }
.avatar:nth-child(6) .portrait { background-position: top center; }
.avatar:nth-child(9) .portrait { background-position: top right; }
.avatar:nth-child(12) .portrait { background-position: center left; }
.avatar:nth-child(15) .portrait { background-position: center center; }
.avatar:nth-child(18) .portrait { background-position: center right; }
.avatar:nth-child(21) .portrait { background-position: bottom left; }
.avatar:nth-child(24) .portrait { background-position: bottom center; }
.avatar:nth-child(27) .portrait { background-position: bottom right; }
[for=player_0] .portrait { background-image: none; background-color: #f2e9e4;}

.vote-form [type=submit] {
  position: absolute;
  top: 102%;
  width: 120%;
  left: -10%;
  display: none;
  z-index: 2;
}
.vote-form [type=radio]:checked + .avatar [type=submit] {display: block;}

.player_results {
  width: 65%;
  margin: 1em;
  text-align: left;
  padding: 1em;
  display: none;
}

.game_over .player_results {
  display: inline-block;
}

.waiting {
  position: fixed;
  text-align: center;
  bottom: 0;
  left:0;
  right:0;
  padding: 0.5em;
  background-color: #cef;
  z-index: 5;
}
.waiting > * { vertical-align: baseline; }
.secret-link {position: absolute; top: 100%; left: 0;}



/* from https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  vertical-align: middle;
  display: inline-block;
  color: #cef;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.25em solid #007bff;
  transform: translateZ(0) scale(1);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
  width: 0.6em;
  height: 1.2em;
  background: #cef;
  top: -0.35em;
}
.loader:before {
  left: -.35em;
  border-radius: 0.6em 0 0 0.6em;
  animation: load2 2s infinite ease 1.5s;
  transform-origin: 0.6em 0.6em;
}
.loader:after {
  left: 0.25em;
  border-radius: 0 1em 1em 0;
  animation: load2 2s infinite ease;
  transform-origin: 0em 0.6em;
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>

{% endblock %}


