{% extends "layout.html" %}
{% block content %}
<h1>Join Game {{game.id}}</h1>
<ul>
  {% for player in players %}
    <li>
      {{player.name}}
      {% if my_player.id == player.id %}
      (you)
      {% endif %}
    </li>
  {% empty %}
    <li>No players currently in game</li>
  {% endfor %}
</ul>
<form action="{% url 'matthews:join' game.id %}" method="POST">
{% csrf_token %}
  <input name="name" placeholder="type your name">
  <input type="submit" value="join this game" class="btn btn-primary">
</form>
{% endblock %}
