Django==2.2.3
django-bootstrap4==0.0.8
django-debug-toolbar==2.0
django-environ==0.4.5
django-filter==2.1.0
django-pipeline==1.6.14
django-tables2==2.0.6
flake8==3.7.8
gunicorn==19.9.0
libsasscompiler==0.1.5
Pillow==6.2.0
psycopg2-binary==2.8.3
python-memcached==1.59
PyYAML==5.1.1

#anora==0.1.2  # pypi version is only compatible with python 2.x
git+https://github.com/thetarkus/anora.git@e98c372d1587af657031640c0df23ee7e7cdddba
